body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 100;
	text-align: center;
	font-size: 80px;
	margin: 0;
	padding: 0;
	padding-top: 350px;
	cursor: default;
	color: #FFFFFF;
}

h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: 60px;
	margin: 15px;
	padding: 0;
}

h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin: 10px;
	font-size: 35px;
	font-weight: 400;
	padding: 0;
	padding-left: 200px;
	padding-bottom: 20px;
	padding-top: 30px;
}

h4 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	margin: 0;
	padding: 0;
	color: White;
}

h5 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 100;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

h6 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.contentBox {
	/*height: 800px;*/
	overflow: hidden;
	width: 60%;
	margin-left: 20%;
	display: inline-block;
	line-height: 150%;
}

.contentBox img {
	float: left;
	padding-right: 20px;
}

.contentContainer {
	background: #FFFFFF;
	width: 100%;
	overflow: hidden;
	margin-top: 70px;
	padding-bottom: 60px;
}

#biopic {
	height: 250px;
	border-radius: 50%;
}

.mainContent {
	z-index: 2;
	margin:0;
	padding: 0;
}

/*.scrollArrow {
	margin-top: 140px;
	border-style: solid;
	border-width: 3em 3em 0 3em;
	border-color: #FFFFFF transparent transparent transparent;
	background-color: #000000;
}*/

.scrollTab {
	border-bottom: 60px solid #FFFFFF;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	height: 0;
	width: 100px;
	border-radius: 100px;
	border-top-right-radius: 100px;
	margin: auto;
	padding: 0;
	cursor: pointer;
	margin-top: 328px;
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#tabText {
	padding: 0px;
	margin: 0;
	padding-top: 12px;
	text-align: center;
	font-size: 15px;
}

.paintRoller {
	/*height: 800px;*/
	overflow: hidden;
	width: 100%;
	background-color: #FFFFFF;
	position: absolute;
	margin: 0;
	padding: 0;
}

#bannerImage {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
	background-size: cover;
	background-image: url(resources/CULC_BW.jpg);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#footer {
	height: 350px;
	width: 100%;
	background-color: #323232;
	margin-top: 0px;
}