@import url("bodystyle.css");
@import url("project.css");


nav {
	position: fixed;
	top:0;
	z-index: 2;
}

#mbar_bar {
	height: 50px;
	width: 100%;
	background-color: #000000;;
	opacity: 0.75;
	z-index: 5;
	position: fixed;
}

.signature {
	height: 30px;
	width: 87px;
	display: inline-block;
	z-index: 6;
	top: 0.5%;
	left: 1.5%;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	position: fixed;
}

.signatureBLK {
	height: 30px;
	width: 87px;
	display: inline-block;
	z-index: 6;
	top: 0.5%;
	left: 1.5%;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	position: fixed;
}

.mbarTabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #FFFFFF;
	position: fixed;
	z-index: 5;
	top: 1%;
	right: 2%;
}

.mbar_li {
	/*WHEN MAKING THE BORDER FOR THE BUTTONS: take 1 px off each padding*/
	display: inline-block;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	opacity: 0.6;
	z-index:6;
	top: 0;
	right: 0;
	border: solid 1px transparent;
}

.mbar_li a {

}